.header {
  width: 100vw;
  height: 60vh;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: #394e63;
  transition: 0.4s;
}
.me {
  height: 70px;
  widows: auto;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -100%);
}
.remix {
  animation: MoveUpDown 2s ease-out infinite normal;
  border-radius: 50%;
  border: 0;
  background-color: transparent;
  float: right;
  right: 3%;
  top: 10%;
  position: absolute;
  filter: drop-shadow(2px 6px 8px rgba(58, 58, 58, 0.75));
  transition: 0.4s;
  outline: 0 !important;
  width: 75px;
  height: 75px;
}
.remixBg {
  top: 10%;
  outline: 0 !important;
  border-radius: 50%;
  border: 0;
  background-color: transparent;
  float: right;
  right: 3%;
  position: absolute;
  /* filter: brightness(0.9); */
  transition: 0.4s;
  filter: drop-shadow(2px 6px 8px rgba(58, 58, 58, 0.75));
}

.remixtooltip {
  background: #ffffff;
  text-align: center;     
  margin: 37px 100px;
  padding: 5px;
  display: block;
  background-color: rgba(255, 255, 255, 0.767);
  height: 30px;
  border-radius: 5px 0 0 5px;
  animation: fadein 0.5s;
  width: 75px
}
@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.remixtooltip::after {
  top: 53px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-width: 15px;
  border-color: rgba(255, 255, 255, 0);
  border-left-color: rgba(255, 255, 255, 0.767);
  border-radius: 0 5px 5px 0;
  margin-top: -15px;
  margin-left: 37.5px;
}
.remixtooltip h6 {
  color: 'black';
  font-size:  16px;
  font-family: "Roboto";
}

.smaller .remixtooltip {
  padding: 5px;
  margin: 20px 75px;
  background: #ffffff;
  display: block;
  background-color: rgba(255, 255, 255, 0.767);
  height: 30px;
  border-radius: 5px 0 0 5px;
}
.smaller .remixtooltip::after {
  top: 36px;
  border: solid transparent;
  content: " ";
  height: 0;  
  width: 0;
  position: absolute;
  pointer-events: none;
  border-width: 15px;
  border-color: rgba(255, 255, 255, 0);
  border-left-color: rgba(255, 255, 255, 0.767);
  border-radius: 0 5px 5px 0;
  margin-top: -15px;
  margin-left: 37.5px;
}
.popup {
  transition: 0.4s;
  margin-top: -1%;
}

@keyframes MoveUpDown {
  from {
    transform: translate(0, 0px);
  }
  65% {
    transform: translate(0, 3px);
    filter: drop-shadow(4px 8px 10px 0px rgba(44, 44, 44, 0.75));
  }
  to {
    transform: translate(0, 0px);
  }
}

.image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.medium {
  height: 200px;
  position: fixed;
}

.smaller {
  height: 75px;
  position: fixed;
}
.smaller .remix {
  height: 55px;
  width: 55px;
  transition: 0.4s;
}
.smaller h1 {
  bottom: 40%;
  font-size: 30px;
  background-color: white;
}

.smaller p {
  color: transparent;
}
.smaller .me {
  width: 0px;
}
.medium .me {
  transform: translate(-50%, -60%);
  width: 50px;
  height: auto;
}
.medium h1 {
  font-size: 22px;
  transform: translate(-50%, 80%);
}
.medium h4 {
  font-size: 00px;
}

.medium p {
  width: 20%;
  font-size: 0px;
  text-align: center;
  bottom: 25%;
}

.hexagonbig {
  width: 320px;
  height: 350px;
  transition: 0.4s;
}

.hexagonmedium {
  width: 180px;
  height: 200px;
}

.hexagonsmall {
  width: 0px;
  height: 0px;
}

.centered-title {
  position: absolute;
  left: 50%;
  font-family: "Domine", serif;
  transform: translate(-50%, 50%);
}
.smaller .centered-title {
  position: absolute;
  left: 50%;
  font-family: "Domine", serif;
  transform: translate(-50%, 0%);
}
.medium .centered-title {
  position: absolute;
  left: 50%;
  font-family: "Domine", serif;
  transform: translate(0, 0%);
}

.medium .centered-subtitle {
  position: absolute;
  left: 50%;
  font-family: "Domine", serif;
  transform: translate(-50%, 225%);
}
.centered-p {
  font-family: "Roboto";
  position: absolute;
  font-size: 14px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.centered-subtitle {
  font-family: "Domine", serif;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 350%);
}

.card p {
  text-align: left;
}
